<!DOCTYPE HTML>
<!--
	Prism by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>{{ page.title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Banner -->
			<section id="banner">
				<div class="inner split">
					<section>
						<h2> {{ page.title }} </h2>
					</section>
					<section>
						<p>The Little Office of the Blessed Virgin Mary is an old devotion modelled on the Divine Office or Liturgy of the Hours.</p>
						<ul class="actions">
							<li><a href="#one" class="button special">Get started</a></li>
						</ul>
					</section>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="wrapper"><a name="one"></a>
				<div class="inner split">
					<section>
{{ content }}
				</section>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style2 alt">
				<div class="inner">
					<div class="spotlight">
						<div class="image">
							<img src="images/pic01.jpg" alt="" />
						</div>
						<div class="content">
							<h3>Ipsum pharetra tempus</h3>
							<p>Lorem ipsum nisl sed cursus magna et amet veroeros. Sed phasellus malesuada quis orci. Pellentesque eget consequat.</p>
							<ul class="actions">
								<li><a href="#" class="button alt">Details</a></li>
							</ul>
						</div>
					</div>

<!-- Contact -->
			<section id="contact" class="wrapper">
				<div class="inner split">
					<section>
						<h2>Contact us</h2>
						<p>See if this form works.</p>
						<form action="//formspree.io/littleoffice@brandt.id.au" class="alt" method="POST">
							<div class="row uniform">
								<div class="6u 12u$(xsmall)">
									<input name="name" placeholder="Name" type="text">
								</div>
								<div class="6u$ 12u$(xsmall)">
									<input name="_replyto" placeholder="Email" type="email">
								</div>
								<div class="12u$">
									<textarea name="message" placeholder="Message" rows="4"></textarea>
 								</div>
 							</div>
 							<ul class="actions">
 								<li><input class="alt" value="Send message" type="submit"></li>
 							</ul>
 						</form>
					</section>
					<section>
						<ul class="contact">
							<li class="fa-twitter"><a href="#">twitter.com/veromarybrrr</a></li>
							<li class="fa-facebook"><a href="#">facebook.com/newbookoldhymns</a></li>
							<li class="fa-instagram"><a href="#">instagram.com/yellowpunctum</a></li>
							<li class="fa-envelope"><a href="#">littleoffice@brandt.id.au</a></li>
							<li class="fa-home">Woodford, NSW, Australia</li>
						</ul>
					</section>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					&copy; Veronica Brandt. All rights reserved. Images: <a href="http://unsplash.com">Unsplash</a>. Design: <a href="http://templated.co">TEMPLATED</a>.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
